.popup__form-button {
  margin: 0;
  padding: 0;
  width: 160px;
  height: 50px;
  border-radius: 11px;
  border: 1px solid rgba(0,0,0,.2);
  background-color: #fff;

  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  cursor: pointer;

  transition: background-color .3s;
}

.popup__form-button:hover {
  background-color: #f2f2f2;
}

@media screen and (max-width: 768px) {
  .popup__form-button {
    width: 34%;
    height: 40px;
    border-radius: 7px;
    font-size: 11px;
  }

  .popup__form-button_claim {
    width: 100px;
    margin: 15px 0 0;
  }
}