.video__subtitle {
	position: absolute;
	top: 280px;
	left: 30px;
	font-family: Inter;
	font-weight: 400;
	font-size: 14px;
	line-height: 15px;
	color: #fff;
	margin: 0;
}

@media screen and (max-width: 374px) {
	.video__subtitle {
		top: 160px;
		left: 16px;
	}
}

@media screen and (min-width: 375px) and (max-width: 1023px) {
	.video__subtitle {
		top: 162px;
		left: 24px;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
	.video__subtitle {
		top: 240px;
	}
}