$color-red-100: #EB0C0C;
$color-red-200: #C30000;

$color-white-100: #fff;
$color-black-100: #000;

$color-gray-100: #eee;
$color-gray-150: #ebebeb;
$color-gray-200: #C4C4C4;
$color-gray-300: #9c9c9c;
$color-gray-400: #787878;

$border-radius-s: 12px;