.search {
  display: flex;
  column-gap: 8px;

  max-width: 512px;
  width: 100%;

  margin-top: 276px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: all .6s;
}

.search_submit {
  margin-top: 0;
  left: 0;
  transform: translateX(0);
}