.banner__button {
    text-align: center;
    font-weight: 600;
}

.banner__button_span {
    display: block;
    margin-left: 8px;
    font-weight: 200;
    letter-spacing: 8px;
    font-size: 14px;
    line-height: 1em;
}
