.about {
  padding-top: 120px;
  padding-bottom: 90px;
}

.about__title {
  margin: 0;
}

.abount__line {
  margin: 25px 0 40px;
  border-color: #252330;
  border-width: 1px;
}

.about__text-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.about__text {
  margin: 0;
  display: flex;
  align-items: center;
}
.about__text:nth-of-type(1) { 
  flex-basis: 450px; 
  flex-shrink: 0; 
}
.about__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}
.about__list .about__text:nth-of-type(1) { 
  flex-basis: 228px; 
  padding-right: 36px;
  border-right: 1px solid #ccc;
}
.about__list .about__text:nth-of-type(2) { 
  flex-basis: 111px; 
  padding-left: 36px;
  padding-right: 36px;
  border-right: 1px solid #ccc;
}
.about__list .about__text:nth-of-type(3) { 
  flex-basis: 139px; 
  padding-left: 36px;
}

.about__image {
  margin-top: 40px;
  width: 100%;
}

.about__signification {
  text-align: center;
  margin: 30px auto 0;
  max-width: 720px;
}


@media screen and (max-width: 1330px) {
  .about__text-container {
    flex-wrap: wrap;
  }
  .about__text:nth-of-type(1) { 
    flex-basis: auto; 
    width: 100%;
  }
  .about__list {
    margin-top: 30px;
  }
  .about__list .about__text:nth-of-type(1),
  .about__list .about__text:nth-of-type(2),
  .about__list .about__text:nth-of-type(3) {
    flex-basis: auto; 
    width: 33%;
    text-align: center;
    justify-content: center;
  }
  .about__list .about__text:nth-of-type(1) { 
    padding-right: 36px;
  }
  .about__list .about__text:nth-of-type(2) { 
    padding-left: 36px;
    padding-right: 36px;
  }
  .about__list .about__text:nth-of-type(3) { 
    padding-left: 36px;
  }
}
@media screen and (max-width: 880px) {
  .about {
    padding-top: 70px;
    padding-bottom: 80px;
  }
  .abount__line {
    margin: 12px 0 34px;
  }
  .about__image {
    margin-top: 35px;
  }
  .about__signification,
  .about__list {
    display: none;
  }
  .about__list[data-mode="mobile"] {
    display: flex;
    flex-direction: column;
  }
  .about__list .about__text:nth-of-type(1),
  .about__list .about__text:nth-of-type(2),
  .about__list .about__text:nth-of-type(3) { 
    padding: 0;
    border: none;
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
  }
  .about__list hr { 
    width: 75px; 
    margin: 25px auto;
  }
}
@media screen and (max-width: 500px) {
  .about__image {
    aspect-ratio: 345/550;
    object-fit: cover;
  }
}