@import url(./fonts/fonts.css);
@import url(styles/block.css);
@import url(styles/slider.css);

@import url(styles/header.css);
@import url(styles/intro.css);
@import url(styles/about.css);
@import url(styles/approach.css);
@import url(styles/whywe.css);
@import url(styles/services.css);
@import url(styles/details.css);
@import url(styles/stages.css);
@import url(styles/digits.css);
@import url(styles/projects.css);
@import url(styles/end.css);
@import url(styles/footer.css);

html { scroll-behavior: smooth; }
body { margin: 0; font-family: MuseoSansCyrl, Arial, Helvetica, sans-serif; }
a { text-decoration: none; color: inherit; }

@media screen and (min-width: 769px) {
  [data-mode="mobile"] { display: none; }
}
