@import url(./banner__button/banner__button.css);
@import url(./banner__text/banner__text.css);

.banner {
    height: 325px;
    background-image: url(../../images/banner/allSeasons.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}